<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sakado &middot; formation &amp; assistance</title>
    <script type="text/javascript" src="//use.typekit.net/gqn0fjv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" title="" charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body class="faq">
    <a href="/#who-we-are" id="top-icon">
      <img src="/img/logo-small-white.png" class="white">
      <img src="/img/logo-small-black.png" class="black">
      <img src="/img/logo-small-colored.png" class="colored">
      Sakado
    </a>
    
    <nav>
      <ul>
        <li><a href="/#material">Contenu</a></li>
        <li class="separator">&middot;</li>
        <li><a href="/#what-we-do">Formations</a></li>
        <li class="separator">&middot;</li>
        <li><a href="/#pricing">Prix</a></li>
        <li class="separator">&middot;</li>
        <li><a href="/faq">FAQ</a></li>
        <li class="separator">&middot;</li>
        <li><a href="/#team">Équipe</a></li>
      </ul>
    </nav>
    <div id="top-faq">
      <header class="hero">
        <img src="/img/logo-medium-colored.png" />
        <h1><span>S</span><span>a</span><span>k</span><span>a</span><span>d</span><span>o</span></h1>
        <h2>foire aux questions</h2>
      </header>
    </div>
    
    <div id="faq-main">
      <section id="faq">
        <div class="wrapper">
          <div class="faq-row">    
            <div class="faq-colomn">
              <h2 class="question">Dois-je m'abonner?</h2>
              <p class="response">Non. Les formations sont offertes à tous, sur réservation sans abonnement. Nous réfléchissons à une formule pour ceux qui souhaite un abonnement… à suivre !</p>
            </div>
            <div class="faq-colomn">
              <h2 class="question">Est-ce que je dois avoir un iPad ou iPhone?</h2>
              <p class="response">Oui. Votre appareil doit être fonctionnel et chargé.</p>
            </div>
          </div>
          <div class="faq-row">    
            <div class="faq-colomn">
              <h2 class="question">Mais si j’ai un appareil d’un autre type?</h2>
              <p class="response">Nous sommes d’anciens employés d’Apple. Nous sommes des experts en produits Apple. Les formations adaptées pour d’autre type d’appareil ne sont pas encore disponible. Peut être un jour… mais pas pour l’instant.</p>
            </div>
            <div class="faq-colomn">
              <h2 class="question">Comment puis-je payer? </h2>
              <p class="response">Vous pouvez payer comptant, chèque ou par carte de crédit (VISA et Mastercard).</p>
            </div>
          </div>    
        </div>
      </section>
      
      <footer>
        2014 &copy; Sakado
      </footer>
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.11/jquery.scrollTo.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.js"></script>
    
    <script src="/js/site.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>