<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sakado &middot; formation &amp; assistance</title>
    <script type="text/javascript" src="//use.typekit.net/gqn0fjv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" title="" charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
       <script>
          document.createElement('header');
          document.createElement('nav');
          document.createElement('section');
          document.createElement('article');
          document.createElement('aside');
          document.createElement('footer');
       </script>
       <style>
        header, nav, section, article, aside, footer {
           display:block;
        }
       </style>
    <![endif]-->
  </head>
  <body class="faq">
    <a href="/#who-we-are" id="top-icon">
      <img src="/img/logo-small-white.png" class="white">
      <img src="/img/logo-small-black.png" class="black">
      <img src="/img/logo-small-colored.png" class="colored">
      Sakado
    </a>

    <nav>
      <ul>
        <li><a href="/#material">Contenu</a></li>
        <li class="separator">&middot;</li>
        <li><a href="/#what-we-do">Formations</a></li>
        <li class="separator">&middot;</li>
        <li><a href="/#pricing">Prix</a></li>
        <li class="separator">&middot;</li>
        <li><a href="/faq">FAQ</a></li>
        <li class="separator">&middot;</li>
        <li><a href="/#team">Équipe</a></li>
      </ul>
      <a href="/" class="back"><i class="fa fa-angle-left"></i> Retour</a>
    </nav>

    <div id="top-faq">
      <header class="hero">
        <h2>foire aux questions</h2>
      </header>
    </div>

    <div id="faq-main">
      <section id="faq">
        <div class="wrapper">
          <div class="faq-row">
            <div class="faq-colomn">
              <h2 class="question-1">Est-ce qu'il s'agit de formations seulement pour iPhone et iPad ? Et mon Mac ? Qu'en est-il des autres plateformes comme Android et Windows ?</h2>
              <p class="response-1">Pour l'instant, nous nous spécialisons dans les formations pour l'environnement Apple, incluant les appareils iOS et Mac. Cependant, de nouveaux services s'ajouteront sous peu à l'offre Sakado.</p>
            </div>
            <div class="faq-colomn">
              <h2 class="question-2">Quel est le nombre de participants par groupe ?</h2>
              <p class="response-2">Il n'y a pas de nombre de participants minimum. Afin de bien encadrer tous les participants et s'assurer qu'ils atteingnent leurs objectifs, nous propsons des groupes de 10 personnes maximum. Au delà de 10, les interactions sont plus complexes à gérer le niveau d'apprentissage diminue.</p>
            </div>
          </div>
          <div class="faq-row">
            <div class="faq-colomn">
              <h2 class="question-1">Où sont vos bureaux ?</h2>
              <p class="response-1">Nous sommes mobile ! Si vous souhaitez organiser une formation en dehors de vos bureaux, nous pourrons vous recevoir dans un endroit adapté.</p>
            </div>
            <div class="faq-colomn">
              <h2 class="question-2">Quel est le territoire couvert ?</h2>
              <p class="response-2">Nous pouvons nous déplacer partout au Québec. Cependant, des frais peuvent s'appliquer pour les entreprises situées à plus de 75km de la ville de Québec.</p>
            </div>
          </div>
          <div class="faq-row">
            <div class="faq-colomn">
              <h2 class="question-1">Pouvez-vous former mon équipe de soutien technique pour qu'ils puissent répondre aux utilisateurs de mon entreprise ensuite?</h2>
              <p class="response-1">Oui nous pouvons former votre équipe de soutient technique mais aussi vos utilisateurs pour qu'ils soient plus autonome avec leurs appareils, incluant les dépannages de bases.</p>
            </div>
            <div class="faq-colomn">
              <h2 class="question-2">Est-ce que les formations peuvent être données en anglais?</h2>
              <p class="response-2">   </p>
            </div>
          </div>
          <div class="faq-row">
            <div class="faq-colomn">
              <h2 class="question-1">Est-ce que nous recevrons une attestation ou un diplome suite à la formation? (voir autre onglet "À faire")</h2>
              <p class="response-1">Nous pouvons vous fournir une attestation si vous le souhaitez.</p>
            </div>
            <div class="faq-colomn">
              <h2 class="question-2">Quels modes de paiements sont acceptés? Faut-il payer d'avance? Est-ce remboursable si on doit annuler/reporter?</h2>
              <p class="response-2">Nous acceptons les paiements par carte de crédit</p>
            </div>
          </div>
          <div class="faq-row">
            <div class="faq-colomn">
              <h2 class="question-1">Est-ce que vous offrez des formations en ligne? C'est compliqué de déplacer toute mon équipe en même temps.</h2>
              <p class="response-1">Nous n'offrons pas de formation en ligne, cependant les formateurs de SAKADO peuvent se déplacer où est votre équipe et éviter les déplacements.</p>
            </div>
            <div class="faq-colomn">
              <h2 class="question-2">Je n'ai pas encore acheté les appareils. Faites-vous un package vente et formation? // Avez-vous un partenaire à me suggérer pour l'achat?</h2>
              <p class="response-2">Vous devez avoir votre appareil pour suivre une formation SAKADO. Si vous souhaiter faire l'acquisition d'un appareil, il nous fera plaisir de vous conseiller et vous référer à l'un de nos partenaires.</p>
            </div>
          </div>
          <div class="faq-row">
            <div class="faq-colomn">
              <h2 class="question-1">Mon besoin est plutot au niveau de la sécurité des appareils. Avez-vous un volet sécurité?</h2>
              <p class="response-1">Oui nous pouvons vous offrir des formation sur la sécurité de vos appareils. Contactez-nous pour nous faire part de vos besoins.</p>
            </div>
            <div class="faq-colomn">
              <h2 class="question-2">Suite à une formation, offrez-vous un suivi, du dépannage sur demande?</h2>
              <p class="response-2">L'assistance fait partie de nos services. N'hésitez pas à nous contacter si vous avez des questions.</p>
            </div>
          </div>
          <div class="faq-row-subtitle">
            <h2 class="faq-subtitle">Entreprise</h2>
          </div>
          <div class="faq-row">
            <div class="faq-colomn">
              <h2 class="question-1"> Les gens dans mon groupe ne sont pas tous au même niveau. Est-ce que je devrai faire 2 groupes ?</h2>
              <p class="response-1">Tout dépend de vos objectifs. Notre mode d'apprentissage est très interactif, pour qu'un employé puisse participer, il doit se sentir à l'aise. Contactez-nous pour en discuter et nous pourrons vous présenter une solution adaptée.</p>
            </div>
            <div class="faq-colomn">
              <h2 class="question-2">Combien de temps dure une formation ?</h2>
              <p class="response-2">Nos formation durent 120 minutes, incluant une période de question et de configuration des appareils.</p>
            </div>
          </div>
          <div class="faq-row">
            <div class="faq-colomn">
              <h2 class="question-1">Quels sont vos tarifs?</h2>
              <p class="response-1">Nos tarifs de groupe sont de 600$</p>
            </div>
            <div class="faq-colomn">
              <h2 class="question-2"></h2>
              <p class="response-2"></p>
            </div>
          </div>
        </div>
        <div class="bg"></div>
      </section>

      <footer>
        2014 &copy; Sakado
      </footer>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.11/jquery.scrollTo.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.js"></script>

    <script src="/js/site.js" type="text/javascript" charset="utf-8"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56028946-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>