<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sakado &middot; formation &amp; assistance</title>
    <script type="text/javascript" src="//use.typekit.net/gqn0fjv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" title="" charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
       <script>
          document.createElement('header');
          document.createElement('nav');
          document.createElement('section');
          document.createElement('article');
          document.createElement('aside');
          document.createElement('footer');
       </script>
       <style>
        header, nav, section, article, aside, footer {
           display:block;
        }
       </style>
    <![endif]-->
  </head>
  <body>
    <a href="#who-we-are" id="top-icon">
      <img src="/img/logo-small-white.png" class="white">
      <img src="/img/logo-small-black.png" class="black">
      <img src="/img/logo-small-colored.png" class="colored">
      Sakado
    </a>

    <nav hidden>
      <ul>
        <li><a href="#material">Contenu</a></li>
        <li class="separator">&middot;</li>
        <li><a href="#what-we-do">Formations</a></li>
        <li class="separator">&middot;</li>
        <li><a href="#pricing">Prix</a></li>
        <li class="separator">&middot;</li>
        <li><a href="/faq">FAQ</a></li>
        <li class="separator">&middot;</li>
        <li><a href="#team">Équipe</a></li>
      </ul>
    </nav>

    <div id="top">
      <header class="hero">
        <img src="/img/logo-medium-colored.png" />
        <h1><span>S</span><span>a</span><span>k</span><span>a</span><span>d</span><span>o</span></h1>
        <h2>formation &amp; assistance</h2>
        <p class="">La technologie, au profit de <strong>tous</strong></p>
        <div class="call-to-action">
          <a href="#groupe">Formations de <strong>groupe</strong></a>
          <a href="#entreprise">Formations en <strong>entreprise</strong></a>
        </div>
      </header>
    </div>

    <div id="main">
      <section id="who-we-are">
        <svg version="1.1" id="animated-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
          <polygon class="top_right" style="" points="50,16.9 50,0.3 78.7,16.9 50,33.4 "/>
          <polygon class="join_top" style="" points="21.3,33.4 21.3,16.9 50,33.4 21.3,50 "/>
          <polygon class="middle_right" style="" points="50,50 50,33.4 78.7,50 50,66.6 "/>
          <polygon class="top_left" style="" points="50,16.9 50,33.4 21.3,16.9 50,0.3 "/>
          <polygon class="middle_left" style="" points="50,50 50,66.6 21.3,50 50,33.4 "/>
          <polygon class="join_bottom" style="" points="78.7,66.6 78.7,83.1 50,66.6 78.7,50 "/>
          <polygon class="bottom_right" style="" points="50,83.1 50,66.6 78.7,83.1 50,99.7 "/>
          <polygon class="bottom_left" style="" points="50,83.1 50,99.7 21.3,83.1 50,66.6 "/>
        </svg>

        <h1>Sakado</h1>
        <p>Sakado, c’est partir à la découverte des technologies. De l’initiation au perfectionnement, nous vous proposons un mode d’apprentissage participatif dans un environnement convivial.</p>
        <p class="bref">Des formations pour vous faciliter la vie, de l'assistance pour régler vos soucis.</p>
      </section>

      <section id="material">
        <div class="inner">
          <h1>Ateliers et formations</h1>
          <p>Les meilleures technologies doivent profiter à tous.</p>

          <ul class="classes">
            <li class="appareil">
              <div class="icons">
                <i class="fa fa-desktop"></i>
                <i class="fa fa-tablet"></i>
                <i class="fa fa-mobile-phone"></i>
              </div>
              <h2>Votre appareil</h2>
              <p>De l'iPhone à l'iPad, découvrez et exploitez tout le potentiel de votre appareil</p>
            </li>
            <li class="productivite">
              <div class="icons">
                <i class="fa fa-pencil"></i>
                <i class="fa fa-calendar"></i>
              </div>
              <h2>Productivité</h2>
              <p>Le monde bouge, vous aussi. Ces formations vous permettent d'apprendre à rester productif au-delà des frontières de votre bureau</p>
            </li>
            <li class="multimedia">
              <div class="icons">
                <i class="fa fa-camera-retro"></i>
                <i class="fa fa-video-camera"></i>
              </div>
              <h2>Multimédia</h2>
              <p>Pour raconter, chanter, dessiner ou simplement s'amuser, nos ateliers vous permettront de libérer votre créativité</p>
            </li>
            <li class="social-media">
              <div class="icons">
                <i class="fa fa-pinterest"></i>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-linkedin"></i>
              </div>
              <h2>Média sociaux</h2>
              <p>Facebook, Twitter, LinkedIn... Usage et utilité, démêlez la toile des réseaux sociaux</p>
            </li>
          </ul>
        </div>

      </section>

      <section id="what-we-do">
        <article id="groupe">
          <a href="#" class="close"><span>&times;</span></a>
          <header>
            <h1>Formation en <strong>groupes</strong></h1>
            <span class="show-details">Cliquez pour les détails</span>
            <p class="subtitle">Ouverts à tous dans une ambiance calme et participative</p>
          </header>
          <ul>
            <li>Devenez plus confiant et productif avec les technologies, peu importe votre niveau de connaissance<hr></li>
            <li>Évoluez dans un environnement collaboratif. Nos formations en mode participatif permettent à chacun d'apprendre à son rythme<hr></li>
            <li>Des cours adaptés à vos besoins, un apprentissage ludique, des résultats concrets</li>
          </ul>
        </article>
        <article id="entreprise">
          <a href="#" class="close"><span>&times;</span></a>
          <header>
            <h1>Formation en <strong>entreprise</strong></h1>
            <span class="show-details">Cliquez pour les détails</span>
            <p class="subtitle">Nos formateurs qualifiés, dans vos bureaux ou ailleurs</p>
          </header>
          <ul>
            <li>Sakado vous propose d'augmentez la productivité dans votre entreprise et d'optimiser vos investissements en technologie<hr></li>
            <li>Choisissez les formations qui conviennent à vos besoins<hr></li>
            <li>À chaque entreprise, ses particularités. C'est pourquoi nous développerons des formations en fonction de vos objectifs</li>
          </ul>
        </article>
        <a class="sign-up" href="#">Inscrivez-vous</a>
      </section>

      <section id="signup-form">
        <a href="#" class="close"><span>&times;</span></a>
        <form method="post" action="/signup" id="sign-up">
          <p class="success" style="">Merci!</p>
          <input type="text" size="30" name="name" id="name" placeholder="Votre nom"><br>
          <input type="email" size="30" name="email" id="signup" placeholder="Votre adresse courriel">
          <a href="#" class="submit"><i class="fa fa-paper-plane"></i> S'inscrire</a>
        </form>
      </section>

      <section id="pricing">
        <div class="pricing-outer" id="prix-groupe">
          <div class="pricing-inner">
            <div class="pricing-header">
              <h1 class="pricing-title">En Groupes</h1>
              <span class="price-1">25$ <i class="price-2">/ personne</i></span>
              <p class="price-detail">100 minutes</p>
            </div>
            <ul>
              <li>Vous devez avoir un iPad ou iPhone</li>
              <li>Plus de 6 sujets avec chacun 4 niveaux d'apprentissage, de débutant à expert</li>
              <li>7 jours / semaine, 2 formations disponibles par jour</li>
              <li>Choisissez l'horaire qui vous convient et joignez-vous à un groupe (10 participants maximum)</li>
              <li>Une formation de 90 minutes suivi d'une période de 10 minutes de questions et réponses</li>
              <li>Ambiance calme et décontractée</li>
            </ul>
            <a href="/faq" class="faq">En savoir plus</a>
          </div>
        </div>
        <div class="pricing-outer" id="prix-entreprise">
          <div class="pricing-inner">
            <div class="pricing-header">
              <h1 class="pricing-title">Entreprise</h1>
              <span class="price-1">600$ <i class="price-2">/ groupe</i></span>
              <p class="price-detail">2 heures et demie</p>
            </div>
            <ul>
              <li>Les employés doivent avoir un iPad ou iPhone</li>
              <li>Nous adaptons nos formations à vos besoins</li>
              <li>La formation peut avoir lieu dans nos locaux ou les vôtres</li>
              <li>Nous sommes disponibles 7 jours par semaine</li>
              <li>10 participants par groupe</li>
              <li>20 minutes de configuration, suivi d'une formation de 120 minutes et d'une période de 10 minutes de questions et réponses</li>
            </ul>
            <a href="/faq" class="faq">En savoir plus</a>
          </div>
        </div>
        <div style="clear: both;"></div>
      </section>

      <section id="team">
        <div class="inner">
          <h1>L'équipe</h1>
          <p>Qui nous <span class="nowrap">sommes<span class="petit-espace"> </span>?</span> <em>Des passionnés.</em></p>
          <ul>
            <li>
              <img src="/img/avatars/charles.jpg" />
              <h1>Charles<br>Cantin</h1>
              <p>Charles travaille depuis 20 ans comme gestionnaire pour des entreprises dynamiques telles que Capgemini, Mirego, Orange et Desjardins. Il a géré une équipe commerciale d’Apple et l’organisation des processus d’affaire de nombreux magasins Apple Store au Canada.</p>
            </li>
            <li>
              <img src="/img/avatars/arnaud.png" />
              <h1>Arnaud<br>Guilon</h1>
              <p>Ancien formateur chez Apple, puis chez Microsoft, Arnaud a développé une réelle expertise des technologies mobiles. Que ce soit pour découvrir ou pour se perfectionner, il saura s'adapter à vos besoins.</p>
            </li>
            <li class="join-us">
              <i class="fa fa-plus"></i>
              <h1>Votre nom <br>ici</h1>
              <p>Joignez-vous à notre équipe en tant que formateur !</p>
              <a href="#join-us">En savoir plus</a>
            </li>
            <li>
              <img src="/img/avatars/simon.jpg" />
              <h1>Simon<br>Côté</h1>
              <p>Simon vulgarisait déjà l’utilisation des téléphones intelligents avant la naissance du iPhone. Depuis, il n’a cessé d’aider les professionnels et les particuliers à apprivoiser les technologies mobiles.</p>
            </li>
            <li>
              <img src="/img/avatars/patrick.png" />
              <h1>Patrick<br>Leblanc</h1>
              <p>Énergique et passionné, Patrick a toujours eu à coeur la satisfaction de ses clients. Un sportif accompli, il préforme dans tout ce qu'il entreprend. Son nouvel objectif<span class="petit-espace"> </span>: aider les entreprises à innover grâce à sa passion pour les technologies.</p>
            </li>
          </ul>
        </div>
        <div class="join-form">
          <div class="inner">
            <a class="back" href="#"><i class="fa fa-angle-left"></i></a>
            <h1>Devenez formateur</h1>
            <p>Un emploi gratifiant, équitable et flexible</p>
            <ul>
              <li>Évoluez et progressez dans un emploi où la qualité de votre travail sera reconnu et récompensé à sa juste valeur<hr></li>
              <li>Choisissez vous-mêmes votre horaire et vos spécialités<hr></li>
              <li>Ayez un impact positif dans la vie de votre public</li>
            </ul>

            <form method="post" action="/formateur">
              <p class="success">Merci!</p>
              <input type="email" size="30" name="email" id="email" placeholder="Votre adresse courriel" />
              <a href="#" class="submit"><i class="fa fa-paper-plane"></i> S'inscrire</a>
            </form>
          </div>
        </div>
        <div class="contact-us">
          <a id="call-us" href="tel:+1 (800) 401-1384">
            <i class="fa fa-phone fa-lg" style="position: relative; top: 0.22rem;"></i>
            +1 (800) 401-1384
          </a>
          <br>
          <a id="email-us" href="#">
            <i class="fa fa-envelope" style="position: relative; left: -3px;"></i>
            Écrivez-nous
          </a>
        </div>
      </section>

      <footer>
        2014 &copy; Sakado
      </footer>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.11/jquery.scrollTo.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.js"></script>

    <script src="/js/site.js" type="text/javascript" charset="utf-8"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56028946-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>