#main {
  #pricing {
      width: 100%;
      box-sizing: border-box;
      background-color: rgba(215, 179, 89, 0.84);
      border-color: white;
      border-style: solid;
      border-width: 0px 15px 0px 15px;
      height: 100%;
      padding: 30px 0 30px 0;
      color: black;
      
      .pricing-outer {
        display: inline-block;
        width: 49.5%;
        height: 100%;
        min-width: 410px;
      }
      
      .pricing-inner {
        width: 400px;
        height: 100%;
        margin: 0 auto;
        
        .pricing-title {
          font-family: arial;
          font-size: 25px;
          font-weight: 600;  
          letter-spacing: 1px;
          line-height: 1.25;
          opacity: 0.9;
          text-transform: uppercase;
        }
        
        .price-1 {
          display: block;
          font-size: 40px;
          text-align: center;
          opacity: 0.9;
          font-weight: 300;
        }
        .price-2 {
          font-size: 16px;
          font-family: arial;
          text-align: center;
          font-style: normal;
          font-weight: 400;
        }
        
        .price-detail {
          font-family: adelle;
          opacity: 0.7;
          font-size: 150%;
          text-align: center;
          font-weight: 400;
          line-height: 140%;
        }

        > p {
          font-family: adelle;
          opacity: 0.6;
          font-size: 120%;
          text-align: center;
          font-weight: 300;
          line-height: 140%;
        }
      }
      
      .pricing-header {
          background-color: black;
          border-color: black;
          border-style: solid;
          border-width: 10px 10px 10px 10px;
          padding: 20px 20px 20px 20px;
          text-align:center;
          color:white;
      }
      
      ul {
        margin: 40px 0 0 0;
        font-size: 20;

        li {
          
          font-family: adelle;
          margin-bottom: 20px;
          
      }
    }
  
    @media (max-width: 853px) {
        div.pricing-outer {
            display: block;
            width: 100%;
            min-width: 1px;
        }
        
        div.pricing-inner {
            width: 90%;
            max-width: 400px;
            min-width: 1px;
        }
    }    
      
  }
}