@import "sections/reset";

@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

@mixin fluid-width {
  @media (max-width: 1080px) { width: 90% }
}

div.container {
  width: 1000px;
  @include fluid-width;
}

body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;

  a.close {
    position: absolute;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-delay: 0;

    @media (min-width: 769px) {
      right: 30px;
      top: 30px;

      span {
        opacity: 0.6;
        transition-property: opacity;
        transition-duration: 0.2s;
      }

      &:hover span { opacity: 1; }
    }
    @media (min-width:1080px) {
      right: 40px;
      top: 40px;
      font-size: 45px;
    }
    @media (max-width: 768px) {
      right: 20px;
      top: 20px;
    }
    @media (max-width: 596px) {
      right: 15px;
      top: 15px;
    }
  }
}

@import "sections/nav", "sections/top", "sections/top-faq";

#main {
  position: absolute;
  top: 98%;
  width: 100%;

  @media (max-width: 768px) { top: 660px; }
  @media (max-width: 596px) { top: 500px; }
}

@import "sections/forms", "sections/who-we-are", "sections/material", "sections/what-we-do", "sections/team", "sections/pricing";

footer {
  background-color: #333;
  padding: 10px;
  font-family: adelle;
  font-size: 90%;
  color: white;
  text-align: center;
}