/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

[hidden] {
  display: none; }

ul {
  list-style: none; }

div.container {
  width: 1000px; }
  @media (max-width: 1080px) {
    div.container {
      width: 90%; } }

body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased; }
  body span.nowrap {
    white-space: nowrap; }
  body span.petit-espace {
    font-size: 60%; }
  body a.close {
    position: absolute;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    -webkit-transition-property: opacity;
            transition-property: opacity;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-delay: 0;
            transition-delay: 0; }
    @media (min-width: 769px) {
      body a.close {
        right: 30px;
        top: 30px; }
        body a.close span {
          opacity: 0.6;
          -webkit-transition-property: opacity;
                  transition-property: opacity;
          -webkit-transition-duration: 0.2s;
                  transition-duration: 0.2s; }
        body a.close:hover span {
          opacity: 1; } }
    @media (min-width: 1080px) {
      body a.close {
        right: 40px;
        top: 40px;
        font-size: 45px; } }
    @media (max-width: 768px) {
      body a.close {
        right: 20px;
        top: 20px; } }
    @media (max-width: 596px) {
      body a.close {
        right: 15px;
        top: 15px; } }

body a#top-icon {
  position: fixed;
  top: 10px;
  z-index: 250;
  font-family: brandon-grotesque;
  text-transform: uppercase;
  text-decoration: none;
  text-indent: 50px;
  font-size: 24px;
  line-height: 48px;
  color: transparent;
  -webkit-transition-property: color;
          transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }
  body a#top-icon img {
    -webkit-transition-property: opacity;
            transition-property: opacity;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    height: 48px;
    width: 48px;
    position: absolute;
    left: 0;
    z-index: 200; }
body.anchored a#top-icon, body.faq a#top-icon, body.anchored a#top-icon:hover, body.faq a#top-icon:hover {
  color: black; }
body a#top-icon:hover {
  color: white; }
body a#top-icon img.white, body.anchored a#top-icon img.black, body.faq a#top-icon img.black, body.faq a#top-icon:hover img.colored, body a#top-icon:hover img.colored {
  opacity: 1; }
body a#top-icon img.colored, body a#top-icon img.black, body.anchored a#top-icon:hover img.white, body.anchored a#top-icon:hover img.black {
  opacity: 0; }
body > nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 68px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 200;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: right; }
  body > nav ul {
    height: 100%;
    display: inline-block;
    margin: 0 32px 0 0; }
    body > nav ul li {
      list-style: none;
      float: left;
      font-size: 120%;
      font-family: adelle;
      line-height: 48px;
      margin: 10px;
      border-bottom: 2px solid transparent;
      -webkit-transition-property: border-color;
              transition-property: border-color;
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s;
      margin-right: 10px; }
      body > nav ul li.separator {
        color: #999; }
      body > nav ul li:hover {
        border-bottom-color: #333; }
      body > nav ul li.separator:hover {
        border-bottom-color: transparent; }
      body > nav ul li a {
        color: #333;
        text-decoration: none;
        display: inline-block; }
@media (max-width: 768px) {
  body > a#top-icon {
    position: absolute;
    left: -5000px; } }
@media (max-width: 596px) {
  body > nav, body a#top-icon {
    position: absolute;
    left: -5000px;
    right: 5000px; } }

#top {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  background-image: url(/img/top-image.jpg);
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5)), url(/img/top-image.jpg);
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)), url(/img/top-image.jpg);
  background-position: 50% 0%;
  background-size: cover;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 100%;
  height: 98%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 150; }
  #top:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  #top header {
    display: inline-block;
    vertical-align: middle;
    margin: auto; }
    #top header h1, #top header h2, #top header p {
      color: white;
      text-align: left;
      margin-left: 225px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.1); }
    #top header h1 {
      font-family: "brandon-grotesque", sans-serif;
      text-transform: uppercase;
      font-size: 700%;
      font-weight: 400;
      padding-top: 60px;
      padding-bottom: 10px; }
      #top header h1 span:nth-child(3) {
        letter-spacing: 0.07em; }
    #top header h2 {
      font-family: "adelle";
      font-style: italic;
      text-transform: lowercase;
      font-size: 259%;
      font-weight: 200;
      letter-spacing: 0.03em;
      margin-left: 230px; }
    #top header p {
      font-family: "adelle";
      font-size: 130%;
      margin: 0;
      clear: left;
      text-align: center;
      font-style: italic;
      line-height: 140%; }
      #top header p strong {
        border-bottom: 1px solid white;
        border-bottom-color: rgba(255, 255, 255, 0.3); }
    #top header.hero img {
      height: 300px;
      width: 225px;
      float: left;
      margin-bottom: 50px; }
    #top header .call-to-action {
      margin-top: 20px; }
      #top header .call-to-action a {
        display: inline-block;
        color: rgba(255, 255, 255, 0.6);
        font-family: "brandon-grotesque";
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 15px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 2px;
        font-size: 120%;
        -webkit-transition-property: border, background-color, color;
                transition-property: border, background-color, color;
        -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s;
        background-color: rgba(255, 255, 255, 0.2); }
        #top header .call-to-action a strong {
          font-weight: bold;
          color: white;
          -webkit-transition-property: color;
                  transition-property: color;
          -webkit-transition-duration: 0.2s;
                  transition-duration: 0.2s; }
        #top header .call-to-action a:first-child {
          margin-right: 10px; }
        #top header .call-to-action a:hover {
          background-color: white;
          border-color: white;
          color: black; }
          #top header .call-to-action a:hover strong {
            color: black; }
        #top header .call-to-action a[href="#groupe"]:hover {
          background-color: #65BA59;
          border-color: #65BA59; }
        #top header .call-to-action a[href="#entreprise"]:hover {
          background-color: #65BA59;
          border-color: #65BA59; }
  @media (min-width: 769px) {
    #top {
      min-height: 600px; } }
  @media (max-width: 768px) {
    #top {
      height: 640px; }
      #top header {
        width: 440px; }
        #top header.hero img {
          height: 180px;
          width: 135px;
          margin-bottom: 60px; }
        #top header h1 {
          margin-left: 135px;
          font-size: 450%;
          padding-top: 30px; }
        #top header h2 {
          margin-left: 137px;
          font-size: 160%; }
        #top header > p {
          margin-bottom: 60px; }
        #top header div.call-to-action a, #top header div.call-to-action a:first-child {
          display: block;
          margin: 0 0 10px 0; } }
  @media (max-width: 596px) {
    #top {
      height: 480px; }
      #top header.hero {
        font-size: 90%;
        width: 90%;
        top: 20px;
        position: relative; }
        #top header.hero img {
          display: block;
          position: absolute;
          left: 0;
          top: -60px;
          width: 45px;
          height: 60px;
          z-index: 0;
          opacity: 1; }
        #top header.hero h1, #top header.hero h2, #top header.hero p {
          margin-left: 0;
          text-align: center; }
        #top header.hero h1 {
          position: relative;
          z-index: 1; }
        #top header.hero h2 {
          margin-bottom: 50px;
          opacity: 0.7; } }

#main {
  position: absolute;
  top: 98%;
  width: 100%; }
  @media (max-width: 768px) {
    #main {
      top: 660px; } }
  @media (max-width: 596px) {
    #main {
      top: 500px; } }

#main #signup-form {
  background-color: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: height;
          transition-property: height;
  height: 0;
  overflow: hidden;
  z-index: 90;
  position: relative;
  border-top: 2px solid white; }
  #main #signup-form.visible {
    height: 165px; }
  #main #signup-form a.close {
    color: #3BBAE5;
    color: rgba(59, 186, 229, 0.5);
    top: 20px; }
    #main #signup-form a.close:hover {
      color: #3BBAE5; }
    @media (max-width: 596px) {
      #main #signup-form a.close {
        right: -3px;
        top: -3px; } }
  #main #signup-form form {
    clear: left;
    margin: 30px 0;
    text-align: center; }
    #main #signup-form form input {
      padding: 8px 20px;
      font-size: 16px;
      line-height: 30px;
      height: 20px;
      border: 2px solid white;
      border-radius: 23px;
      text-transform: uppercase;
      font-family: brandon-grotesque;
      text-align: center;
      z-index: 5;
      background-color: #3BBAE5; }
      #main #signup-form form input:focus {
        outline-width: 0; }
      #main #signup-form form input[name="name"] {
        border-radius: 23px 23px 0 0;
        border-bottom: 1px solid #ddd; }
      #main #signup-form form input[name="email"] {
        border-radius: 0 0 23px 23px;
        border-top: 0;
        -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s;
        -webkit-transition-property: background-color;
                transition-property: background-color; }
      #main #signup-form form input::-webkit-input-placeholder {
        color: white; }
      #main #signup-form form input:-moz-placeholder {
        color: white; }
      #main #signup-form form input::-moz-placeholder {
        color: white; }
      #main #signup-form form input:-ms-input-placeholder {
        color: white; }
    #main #signup-form form.invalid.email input[name="email"] {
      background-color: #F08921; }
    #main #signup-form form a.submit {
      color: #3BBAE5;
      font-family: brandon-grotesque;
      font-weight: bold;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 20px;
      margin-top: 20px;
      text-align: left;
      display: block;
      text-align: center; }
      #main #signup-form form a.submit:hover {
        text-decoration: underline; }
  #main #signup-form p.success {
    color: white;
    font-family: brandon-grotesque;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 160%;
    margin-top: 40px;
    width: 100%;
    position: absolute;
    opacity: 0;
    display: none; }
#main #team .join-form form {
  text-align: center;
  position: relative; }
  #main #team .join-form form input[name="email"] {
    padding: 8px 20px;
    font-size: 16px;
    line-height: 30px;
    height: 20px;
    border: 2px solid #3BBAE5;
    border-radius: 23px;
    text-transform: uppercase;
    font-family: brandon-grotesque;
    margin-top: 30px;
    text-align: center;
    z-index: 5;
    background-color: #3BBAE5;
    color: white;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: background-color, border-color;
            transition-property: background-color, border-color; }
    #main #team .join-form form input[name="email"]:focus {
      outline-width: 0; }
    #main #team .join-form form input[name="email"]::-webkit-input-placeholder {
      color: white; }
    #main #team .join-form form input[name="email"]:-moz-placeholder {
      color: white; }
    #main #team .join-form form input[name="email"]::-moz-placeholder {
      color: white; }
    #main #team .join-form form input[name="email"]:-ms-input-placeholder {
      color: white; }
  #main #team .join-form form a.submit {
    color: #3BBAE5;
    font-family: brandon-grotesque;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    margin-top: 20px;
    text-align: left;
    display: block;
    text-align: center; }
    #main #team .join-form form a.submit:hover {
      text-decoration: underline; }
  #main #team .join-form form.invalid.email input[name="email"] {
    background-color: #F08921;
    border-color: #F08921; }
  #main #team .join-form form p.success {
    color: #3BBAE5;
    font-family: brandon-grotesque;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 160%;
    margin-top: 40px;
    width: 100%;
    position: absolute;
    opacity: 0;
    display: none; }
#main #team .join-form form.success p.success, #main #team .join-form form.success a.submit, #main #team .join-form form.success input, #main #signup-form form.success p.success, #main #signup-form form.success a.submit, #main #signup-form form.success input {
  -webkit-transition-property: opacity;
          transition-property: opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
#main #team .join-form form.success p.success, #main #signup-form form.success p.success {
  display: block;
  opacity: 1; }
#main #team .join-form form.success a.submit, #main #team .join-form form.success input, #main #signup-form form.success a.submit, #main #signup-form form.success input {
  opacity: 0; }
@media (max-width: 596px) {
  #main #team .join-form form input[type="text"], #main #team .join-form form input[type="email"], #main #signup-form form input[type="text"], #main #signup-form form input[type="email"] {
    width: 75%; } }

#main #who-we-are {
  width: 1000px;
  margin: 0 auto;
  padding: 120px 0; }
  @media (max-width: 1080px) {
    #main #who-we-are {
      width: 90%; } }
  #main #who-we-are svg {
    float: left;
    font-size: 160px;
    margin: -30px 0 0 0px;
    color: #65BA59; }
  #main #who-we-are #animated-logo {
    width: 240px;
    height: 240px; }
    #main #who-we-are #animated-logo polygon {
      -webkit-transition-property: fill;
              transition-property: fill;
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s; }
    #main #who-we-are #animated-logo .top_right {
      fill: #999;
      -webkit-transition-delay: 0.4s;
              transition-delay: 0.4s; }
    #main #who-we-are #animated-logo .join_top {
      fill: #222;
      -webkit-transition-delay: 0.35s;
              transition-delay: 0.35s; }
    #main #who-we-are #animated-logo .middle_right {
      fill: #999;
      -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s; }
    #main #who-we-are #animated-logo .top_left {
      fill: #555;
      -webkit-transition-delay: 0.3s;
              transition-delay: 0.3s; }
    #main #who-we-are #animated-logo .middle_left {
      fill: #555;
      -webkit-transition-delay: 0.35s;
              transition-delay: 0.35s; }
    #main #who-we-are #animated-logo .join_bottom {
      fill: #bbb;
      -webkit-transition-delay: 0.2s;
              transition-delay: 0.2s; }
    #main #who-we-are #animated-logo .bottom_right {
      fill: #555;
      -webkit-transition-delay: 0.33s;
              transition-delay: 0.33s; }
    #main #who-we-are #animated-logo .bottom_left {
      fill: #999;
      -webkit-transition-delay: 0.45s;
              transition-delay: 0.45s; }
  #main #who-we-are.colored #animated-logo .top_right {
    fill: #1C8472; }
  #main #who-we-are.colored #animated-logo .join_top {
    fill: #F3BC19; }
  #main #who-we-are.colored #animated-logo .middle_right {
    fill: #E03C33; }
  #main #who-we-are.colored #animated-logo .top_left {
    fill: #68BB45; }
  #main #who-we-are.colored #animated-logo .middle_left {
    fill: #F08921; }
  #main #who-we-are.colored #animated-logo .join_bottom {
    fill: #923D97; }
  #main #who-we-are.colored #animated-logo .bottom_right {
    fill: #3495D2; }
  #main #who-we-are.colored #animated-logo .bottom_left {
    fill: #40B9EB; }
  #main #who-we-are h1 {
    font-family: "brandon-grotesque";
    font-size: 230%;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 260px; }
  #main #who-we-are p {
    margin-left: 260px;
    font-family: "adelle";
    line-height: 150%;
    font-size: 120%;
    font-weight: 200;
    margin-bottom: 20px; }
    #main #who-we-are p.bref {
      font-style: italic;
      font-weight: 300;
      font-size: 130%;
      margin-bottom: 0;
      color: #333; }
      #main #who-we-are p.bref strong {
        color: black;
        font-weight: 800; }
  @media (max-width: 596px) {
    #main #who-we-are {
      text-align: center;
      padding: 80px 0; }
      #main #who-we-are svg#animated-logo {
        float: none;
        width: 120px;
        height: 120px;
        display: inline-block;
        margin-bottom: 20px; }
      #main #who-we-are h1, #main #who-we-are p {
        margin-left: 0; } }

#main #material {
  width: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background-color: #65BA59;
  border-color: white;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  display: block;
  height: 100%;
  padding: 80px 0 50px 0;
  color: white; }
  #main #material .inner {
    width: 1000px;
    margin: 0 auto; }
    @media (max-width: 1080px) {
      #main #material .inner {
        width: 90%; } }
    #main #material .inner > p {
      font-family: adelle;
      opacity: 0.6;
      font-size: 120%;
      text-align: center;
      font-weight: 300;
      line-height: 140%; }
  #main #material h1 {
    font-family: brandon-grotesque;
    font-size: 230%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    color: white; }
  #main #material .icons {
    text-align: center;
    margin: 0 0 30px;
    font-size: 300%; }
  #main #material ul {
    margin: 40px 0 0 0;
    font-size: 0; }
    #main #material ul li {
      display: inline-block;
      width: 50%;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      font-size: 16px;
      padding: 20px 20px 40px;
      font-family: adelle;
      margin-bottom: 20px; }
      #main #material ul li:nth-child(1), #main #material ul li:nth-child(2) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      #main #material ul li h2 {
        text-align: center;
        margin: 0 0 20px;
        font-size: 150%; }
      #main #material ul li p {
        font-style: italic;
        line-height: 150%; }
  @media (max-width: 596px) {
    #main #material h1 {
      font-size: 200%; }
    #main #material ul li {
      width: 100%; }
      #main #material ul li:nth-child(3) {
        border-bottom: 1px solid #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      #main #material ul li:nth-child(4) {
        padding-bottom: 0; } }

#main #what-we-do {
  width: 100%;
  background-image: url(/img/content-image.jpg);
  background-position: 30% 0%;
  background-size: cover;
  position: relative; }
  @media (min-width: 769px) {
    #main #what-we-do {
      height: 600px; } }
  @media (max-width: 768px) {
    #main #what-we-do {
      background-image: none;
      background-color: #999; } }
  #main #what-we-do h1 {
    -webkit-transition-property: color;
            transition-property: color;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  #main #what-we-do article {
    position: relative;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    text-align: center;
    cursor: pointer; }
    #main #what-we-do article:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    #main #what-we-do article#groupe:hover, #main #what-we-do article#entreprise:hover {
      background-color: rgba(0, 0, 0, 0.3); }
    #main #what-we-do article#entreprise {
      background-color: rgba(0, 0, 0, 0.2); }
    #main #what-we-do article ul {
      text-align: center;
      font-family: adelle;
      font-size: 125%;
      font-weight: 500;
      color: white;
      line-height: 150%; }
      #main #what-we-do article ul li {
        margin: 20px 0 0 0;
        padding: 10px 80px 0;
        -webkit-transition-property: opacity;
                transition-property: opacity;
        -webkit-transition-delay: 0s;
                transition-delay: 0s;
        -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
        opacity: 0; }
        #main #what-we-do article ul li hr {
          height: 0px;
          border-top: 1px solid white;
          border-color: rgba(255, 255, 255, 0.4);
          border-width: 1px 0 0 0;
          margin: 30px 160px 0; }
    #main #what-we-do article h1 {
      font-family: brandon-grotesque;
      text-transform: uppercase;
      font-weight: 300;
      color: white;
      color: rgba(255, 255, 255, 0.7);
      font-size: 300%;
      text-align: center;
      vertical-align: middle;
      display: block; }
      #main #what-we-do article h1 strong {
        display: block;
        font-weight: 500;
        font-size: 150%;
        color: white; }
    #main #what-we-do article p.subtitle {
      font-family: adelle;
      font-size: 120%;
      text-align: center;
      font-weight: 300;
      color: white;
      opacity: 0;
      -webkit-transition-property: opacity;
              transition-property: opacity;
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s;
      width: 100%;
      line-height: 140%;
      padding: 0 20px;
      -moz-box-sizing: border-box;
           box-sizing: border-box; }
    #main #what-we-do article a.close {
      color: #fff;
      color: rgba(255, 255, 255, 0.8);
      opacity: 0; }
    @media (min-width: 769px) {
      #main #what-we-do article {
        width: 50%;
        float: left;
        height: 600px;
        -webkit-transition-property: background, width;
                transition-property: background, width; }
        #main #what-we-do article header {
          text-align: center;
          display: inline-block;
          margin: auto;
          vertical-align: middle;
          position: relative;
          top: 0;
          -webkit-transition-property: top;
                  transition-property: top;
          -webkit-transition-duration: 0.2s;
                  transition-duration: 0.2s; }
        #main #what-we-do article ul {
          position: absolute;
          bottom: 80px;
          left: 0;
          right: 0; }
        #main #what-we-do article p.subtitle {
          position: absolute; }
        #main #what-we-do article:hover .show-details {
          opacity: 0.6;
          top: 10px;
          -webkit-transition-delay: 0s;
                  transition-delay: 0s; } }
    @media (max-width: 1350px) {
      #main #what-we-do article {
        font-size: 90%; } }
    @media (max-width: 1180px) {
      #main #what-we-do article {
        font-size: 83%; } }
    @media (max-width: 1080px) and (min-width: 768px) {
      #main #what-we-do article ul li {
        margin: 10px 0 0 0;
        padding: 10px 40px 0; }
        #main #what-we-do article ul li hr {
          margin: 30px 100px 0; } }
    @media (max-width: 768px) {
      #main #what-we-do article {
        padding: 50px 0;
        max-height: 100px;
        -webkit-transition-property: max-height;
                transition-property: max-height;
        -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s; }
        #main #what-we-do article p.subtitle {
          margin-bottom: 30px; }
        #main #what-we-do article ul li hr {
          margin: 30px 20% 0; } }
    @media (max-width: 596px) {
      #main #what-we-do article ul li {
        padding: 10px 20px 0; }
      #main #what-we-do article h1 {
        font-size: 250%;
        position: relative;
        top: 10px; } }
  #main #what-we-do[data-active="groupe"] article#groupe, #main #what-we-do[data-active="entreprise"] article#entreprise {
    background-color: #3B56E5;
    background-color: rgba(59, 186, 229, 0.9); }
    #main #what-we-do[data-active="groupe"] article#groupe header i, #main #what-we-do[data-active="groupe"] article#groupe .show-details, #main #what-we-do[data-active="entreprise"] article#entreprise header i, #main #what-we-do[data-active="entreprise"] article#entreprise .show-details {
      opacity: 0; }
    #main #what-we-do[data-active="groupe"] article#groupe ul li, #main #what-we-do[data-active="entreprise"] article#entreprise ul li {
      opacity: 1;
      -webkit-transition-duration: 0.7s;
              transition-duration: 0.7s; }
      #main #what-we-do[data-active="groupe"] article#groupe ul li:nth-child(1), #main #what-we-do[data-active="entreprise"] article#entreprise ul li:nth-child(1) {
        -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s; }
      #main #what-we-do[data-active="groupe"] article#groupe ul li:nth-child(2), #main #what-we-do[data-active="entreprise"] article#entreprise ul li:nth-child(2) {
        -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s; }
      #main #what-we-do[data-active="groupe"] article#groupe ul li:nth-child(3), #main #what-we-do[data-active="entreprise"] article#entreprise ul li:nth-child(3) {
        -webkit-transition-delay: 0.4s;
                transition-delay: 0.4s; }
    #main #what-we-do[data-active="groupe"] article#groupe p.subtitle, #main #what-we-do[data-active="entreprise"] article#entreprise p.subtitle {
      opacity: 0.7; }
    #main #what-we-do[data-active="groupe"] article#groupe a.close, #main #what-we-do[data-active="entreprise"] article#entreprise a.close {
      opacity: 1;
      -webkit-transition-delay: 0.8s;
              transition-delay: 0.8s;
      -webkit-transition-duration: 0.8s;
              transition-duration: 0.8s; }
    @media (min-width: 769px) {
      #main #what-we-do[data-active="groupe"] article#groupe header, #main #what-we-do[data-active="entreprise"] article#entreprise header {
        top: -200px; }
      #main #what-we-do[data-active="groupe"] article#groupe h1, #main #what-we-do[data-active="entreprise"] article#entreprise h1 {
        color: transparent; } }
    @media (min-width: 1080px) {
      #main #what-we-do[data-active="groupe"] article#groupe, #main #what-we-do[data-active="entreprise"] article#entreprise {
        width: 65%; } }
    @media (max-width: 768px) {
      #main #what-we-do[data-active="groupe"] article#groupe, #main #what-we-do[data-active="entreprise"] article#entreprise {
        max-height: 1000px; } }
  @media (min-width: 1080px) {
    #main #what-we-do[data-active="groupe"] article#entreprise, #main #what-we-do[data-active="entreprise"] article#groupe {
      width: 35%; } }
  #main #what-we-do .show-details {
    opacity: 0;
    position: relative;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    -webkit-transition-property: opacity, top;
            transition-property: opacity, top;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    color: white;
    top: 0;
    text-decoration: none;
    font-family: "adelle"; }
  #main #what-we-do a.sign-up {
    font-family: brandon-grotesque;
    font-size: 120%;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    z-index: 100;
    border-radius: 22px;
    border: 2px solid white;
    padding: 10px 30px;
    margin-left: -120px;
    width: 180px;
    text-align: center;
    line-height: 20px;
    -webkit-transition-property: border, background-color, color, opacity;
            transition-property: border, background-color, color, opacity;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    background-color: #3BBAE5;
    color: white; }
    #main #what-we-do a.sign-up:hover {
      background-color: #6dc7e5; }

#main #team {
  overflow: hidden;
  position: relative; }
  #main #team > .inner > ul {
    margin-top: 30px;
    font-size: 0px; }
    #main #team > .inner > ul li {
      display: inline-block;
      width: 20%;
      text-align: center;
      padding: 10px;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      font-size: 16px;
      vertical-align: top; }
      @media (max-width: 768px) {
        #main #team > .inner > ul li {
          width: 50%;
          margin-bottom: 20px; } }
      #main #team > .inner > ul li img {
        width: 80px;
        height: 80px;
        border-radius: 46px;
        margin-bottom: 10px;
        border: 6px solid rgba(0, 0, 0, 0.1); }
      #main #team > .inner > ul li i {
        display: inline-block;
        font-size: 400%;
        margin-bottom: 10px;
        color: #3BBAE5;
        width: 84px;
        height: 84px;
        border-radius: 46px;
        margin-bottom: 10px;
        border: 6px solid rgba(59, 186, 229, 0.1);
        line-height: 92px;
        -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
        -webkit-transition-property: color, background-color;
                transition-property: color, background-color; }
      #main #team > .inner > ul li h1 {
        font-family: adelle;
        font-weight: 800;
        font-size: 120%;
        font-style: italic;
        margin-bottom: 20px;
        line-height: 125%; }
      #main #team > .inner > ul li p {
        font-family: adelle;
        font-style: italic;
        line-height: 125%;
        text-align: left;
        color: #666;
        padding-left: 10px; }
      #main #team > .inner > ul li.join-us {
        cursor: pointer; }
        #main #team > .inner > ul li.join-us a[href="#join-us"] {
          color: #3BBAE5;
          font-family: brandon-grotesque;
          font-weight: bold;
          display: inline-block;
          text-transform: uppercase;
          text-decoration: none;
          line-height: 20px;
          margin-top: 20px;
          text-align: left; }
        #main #team > .inner > ul li.join-us:hover i {
          background-color: #3BBAE5;
          color: white; }
        #main #team > .inner > ul li.join-us:hover a[href="#join-us"] {
          text-decoration: underline; }
        #main #team > .inner > ul li.join-us p {
          text-align: center;
          padding-left: 0; }
  #main #team .inner {
    width: 1000px;
    margin: 0 auto;
    padding: 80px 0 20px;
    position: relative;
    left: 0; }
    @media (max-width: 1080px) {
      #main #team .inner {
        width: 90%; } }
    #main #team .inner > p {
      font-family: adelle;
      color: #555;
      font-size: 120%;
      text-align: center;
      font-weight: 300; }
      #main #team .inner > p em {
        font-style: italic;
        color: black;
        font-weight: 800; }
    #main #team .inner > h1 {
      font-family: brandon-grotesque;
      font-size: 230%;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 10px; }
  #main #team .join-form {
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
    background-color: transparent; }
    #main #team .join-form ul {
      text-align: center;
      font-family: adelle;
      font-size: 115%;
      font-weight: 500;
      line-height: 150%;
      margin-top: 40px; }
      #main #team .join-form ul li {
        margin: 20px 0 0 0;
        padding: 10px 20px 0; }
        #main #team .join-form ul li hr {
          height: 0px;
          border-top: 1px solid white;
          border-color: rgba(0, 0, 0, 0.1);
          border-width: 1px 0 0 0;
          margin: 30px 160px 0; }
          @media (max-width: 768px) {
            #main #team .join-form ul li hr {
              margin: 30px 20% 0; } }
    #main #team .join-form a.back {
      position: absolute;
      left: 0;
      font-size: 360%;
      color: #333;
      -webkit-transition-property: color;
              transition-property: color;
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s;
      display: inline-block;
      padding: 0 20px; }
      #main #team .join-form a.back:hover {
        color: #999; }
  #main #team .contact-us {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    line-height: 150%;
    width: 400px;
    margin: 0 auto;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 150%;
    color: #888; }
    #main #team .contact-us a, #main #team .contact-us a:hover, #main #team .contact-us a:active {
      color: #888;
      text-decoration: none; }
  #main #team #call-us {
    position: relative;
    left: 5px;
    margin-bottom: 10px;
    display: inline-block; }
  #main #team i.call-us {
    font-size: 130%; }
  #main #team #email-us {
    font-size: 93%; }
  #main #team .inner, #main #team .join-form {
    -webkit-transition-property: left, opacity;
            transition-property: left, opacity;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s; }
  #main #team.joining > .inner {
    left: -100%;
    opacity: 0; }
  #main #team.joining .join-form {
    left: 0;
    opacity: 1; }
  @media (max-width: 596px) {
    #main #team .inner > h1 {
      padding: 0 20px; }
    #main #team .inner > p {
      line-height: 140%;
      padding: 0 20px; }
    #main #team .join-form a.back {
      left: -20px; }
    #main #team .join-form ul li {
      padding: 10px 20px 0; } }

#main #pricing {
  width: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background-color: #333;
  border-color: white;
  border-style: solid;
  border-width: 1px 0 0 0;
  height: 100%;
  padding: 30px 0 30px 0;
  color: black;
  font-size: 0;
  position: relative; }
  #main #pricing::after {
    content: "";
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 50%;
    width: 1px;
    background-color: #555; }
  #main #pricing .pricing-outer {
    min-width: 410px;
    width: 50%;
    font-size: 16px; }
    #main #pricing .pricing-outer:hover ul li {
      color: #fff; }
  #main #pricing a.faq {
    display: block;
    text-align: center;
    font-family: adelle;
    font-style: italic;
    font-size: 110%;
    padding: 10px 0; }
  #main #pricing #prix-groupe {
    float: left; }
    #main #pricing #prix-groupe .price-1, #main #pricing #prix-groupe a.faq {
      color: #68BB45; }
    #main #pricing #prix-groupe .price-detail {
      background-color: #68BB45;
      background-color: rgba(104, 187, 69, 0.65);
      border-color: #68BB45; }
    #main #pricing #prix-groupe:hover .price-detail {
      background-color: #68BB45; }
  #main #pricing #prix-entreprise {
    float: right; }
    #main #pricing #prix-entreprise .price-1, #main #pricing #prix-entreprise a.faq {
      color: #F3BC19; }
    #main #pricing #prix-entreprise .price-detail {
      background-color: #F3BC19;
      background-color: rgba(243, 188, 25, 0.65);
      border-color: #F3BC19; }
    #main #pricing #prix-entreprise:hover .price-detail {
      background-color: #F3BC19; }
  #main #pricing .pricing-inner {
    height: 100%;
    margin: 0 auto;
    padding: 5% 10%; }
    #main #pricing .pricing-inner .pricing-title {
      font-family: brandon-grotesque;
      font-size: 300%;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1.25;
      opacity: 0.9;
      text-transform: uppercase; }
    #main #pricing .pricing-inner .price-1 {
      display: block;
      font-size: 210%;
      text-align: center;
      opacity: 0.9;
      font-family: brandon-grotesque;
      font-weight: 500; }
    #main #pricing .pricing-inner .price-2 {
      font-size: 80%;
      opacity: 0.6;
      text-align: center;
      font-style: normal;
      font-weight: 400; }
    #main #pricing .pricing-inner .price-detail {
      font-family: adelle;
      font-size: 120%;
      text-align: center;
      font-weight: 400;
      line-height: 140%;
      font-style: italic;
      margin-top: 1em;
      color: #222;
      background-color: rgba(238, 238, 238, 0.5);
      margin: 1em 50px 0;
      padding: 5px 0;
      border-radius: 18px;
      border: 1px solid #eee;
      font-weight: bold;
      -webkit-transition-duration: 1s;
              transition-duration: 1s;
      -webkit-transition-property: background-color;
              transition-property: background-color; }
    #main #pricing .pricing-inner > p {
      font-family: adelle;
      opacity: 0.6;
      font-size: 120%;
      text-align: center;
      font-weight: 300;
      line-height: 140%; }
  #main #pricing .pricing-header {
    padding: 20px 20px 20px 20px;
    text-align: center;
    color: white; }
  #main #pricing ul {
    margin: 40px 0 0 0;
    font-size: 20; }
    #main #pricing ul li {
      font-family: adelle;
      margin-bottom: 20px;
      text-align: center;
      color: #ccc;
      font-size: 120%;
      line-height: 130%;
      -webkit-transition-property: color;
              transition-property: color;
      -webkit-transition-duration: 1s;
              transition-duration: 1s; }
  @media (max-width: 853px) {
    #main #pricing:after {
      opacity: 0; }
    #main #pricing #prix-entreprise, #main #pricing #prix-groupe {
      float: none; }
    #main #pricing div.pricing-outer {
      display: block;
      width: 100%;
      min-width: 1px; }
    #main #pricing div.pricing-inner {
      padding: 5% 10%; } }
  @media (max-width: 596px) {
    #main #pricing .pricing-inner {
      font-size: 88%; }
      #main #pricing .pricing-inner .pricing-title {
        font-size: 240%; }
      #main #pricing .pricing-inner .price-detail {
        margin: 1em 20px 0; } }

#top-faq {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  background-image: url(/img/faq-image.jpg);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(/img/faq-image.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(/img/faq-image.jpg);
  background-position: 50% 50%;
  background-size: cover;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: -200px;
  right: 0;
  text-align: center;
  z-index: 150; }
  #top-faq header {
    display: inline-block;
    vertical-align: middle;
    margin: auto; }
    #top-faq header h2 {
      color: white;
      font-family: "brandon-grotesque", sans-serif;
      text-transform: uppercase;
      font-size: 300%;
      margin-top: 150px;
      font-weight: 600;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.1); }
    #top-faq header p {
      font-family: "adelle";
      font-size: 130%;
      margin: 0;
      clear: left;
      text-align: center;
      font-style: italic;
      line-height: 140%; }
      #top-faq header p strong {
        border-bottom: 1px solid white;
        border-bottom-color: rgba(255, 255, 255, 0.3); }
    #top-faq header.hero img {
      height: 175px;
      width: 130px;
      float: left;
      margin-top: 85px;
      margin-bottom: 0px; }
    #top-faq header .call-to-action {
      margin-top: 20px; }
      #top-faq header .call-to-action a {
        display: inline-block;
        color: #ccc;
        color: rgba(255, 255, 255, 0.6);
        font-family: "brandon-grotesque";
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 15px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 2px;
        font-size: 120%;
        -webkit-transition-property: border, background-color, color;
                transition-property: border, background-color, color;
        -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s;
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.2); }
        #top-faq header .call-to-action a strong {
          font-weight: bold;
          color: white;
          -webkit-transition-property: color;
                  transition-property: color;
          -webkit-transition-duration: 0.2s;
                  transition-duration: 0.2s; }
        #top-faq header .call-to-action a:first-child {
          margin-right: 10px; }
        #top-faq header .call-to-action a:hover {
          background-color: white;
          border-color: white;
          color: black; }
          #top-faq header .call-to-action a:hover strong {
            color: black; }
        #top-faq header .call-to-action a[href="#groupe"]:hover {
          background-color: #65BA59;
          border-color: #65BA59; }
        #top-faq header .call-to-action a[href="#entreprise"]:hover {
          background-color: #65BA59;
          border-color: #65BA59; }
  @media (min-width: 769px) {
    #top-faq {
      min-height: 275px; } }
  @media (max-width: 768px) {
    #top-faq header {
      width: 440px; }
      #top-faq header h2 {
        font-size: 200%; }
      #top-faq header > p {
        margin-bottom: 20px; }
      #top-faq header div.call-to-action a, #top-faq header div.call-to-action a:first-child {
        display: block;
        margin: 0 0 10px 0; } }
  @media (max-width: 596px) {
    #top-faq {
      position: absolute;
      height: 150%; }
      #top-faq header {
        width: 90%; }
        #top-faq header h2 {
          margin-bottom: 50px;
          opacity: 0.5;
          margin-top: 100px; } }

body.faq nav {
  border-bottom: 0;
  overflow: visible; }
  body.faq nav .back {
    display: none; }
  @media (max-width: 768px) {
    body.faq nav {
      text-align: center; } }
  @media (max-width: 596px) {
    body.faq nav .back {
      display: block;
      top: 0;
      left: 5000px;
      white-space: nowrap;
      position: absolute;
      color: white;
      font-family: "brandon-grotesque";
      text-transform: uppercase;
      font-size: 130%;
      text-decoration: none;
      font-weight: 600;
      padding: 20px;
      z-index: 0; }
      body.faq nav .back i {
        font-size: 110%;
        margin-right: 5px; } }

#faq-main {
  position: absolute;
  top: 215px;
  width: 100%;
  z-index: 180; }
  #faq-main #faq {
    width: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    height: 100%;
    padding: 3.5% 0;
    color: white;
    position: relative;
    display: block; }
    #faq-main #faq .bg {
      background-color: #65BA59;
      position: fixed;
      top: 0;
      bottom: -200px;
      left: 0;
      right: 0;
      content: " ";
      z-index: 1; }
    #faq-main #faq .wrapper {
      max-width: 1100px;
      width: 100%;
      margin: auto;
      font-family: Helvetica, Arial;
      font-size: 16px;
      line-height: 1.5;
      position: relative;
      z-index: 2; }
    #faq-main #faq div.faq-row {
      padding: 3.5% 0;
      padding-left: 5%; }
    #faq-main #faq div.faq-row-subtitle {
      padding: 3.5% 0;
      padding-left: 0%; }
    #faq-main #faq div.faq-colomn {
      display: inline-block;
      padding: 0 3.5% 0 0;
      font-size: 16px;
      width: 45%;
      vertical-align: top; }
    #faq-main #faq h2.question-1 {
      display: block;
      width: 95%;
      font-size: 20px;
      font-family: "brandon-grotesque";
      font-weight: 600;
      line-height: 1.25;
      text-transform: uppercase;
      text-align: right; }
    #faq-main #faq h2.question-2 {
      display: block;
      width: 95%;
      font-size: 20px;
      font-family: "brandon-grotesque";
      font-weight: 600;
      line-height: 1.25;
      text-transform: uppercase;
      text-align: left; }
    #faq-main #faq h2.faq-subtitle {
      display: block;
      width: 95%;
      font-size: 300%;
      font-family: "brandon-grotesque";
      font-weight: 300;
      line-height: 1.25;
      text-transform: uppercase;
      text-align: center; }
    #faq-main #faq p.response-1 {
      margin: 1em 0 0;
      width: 95%;
      padding: 0;
      display: block;
      font-size: 16px;
      font-family: "adelle";
      line-height: 1.25;
      text-align: right; }
    #faq-main #faq p.response-2 {
      margin: 1em 0 0;
      width: 95%;
      padding: 0;
      display: block;
      font-size: 16px;
      font-family: "adelle";
      line-height: 1.25;
      text-align: left; }
    @media (max-width: 768px) {
      #faq-main #faq p.response {
        margin: 0.5em 0 0; }
      #faq-main #faq div.faq-row {
        padding: 0 0;
        padding-left: 5%; }
      #faq-main #faq div.faq-colomn {
        padding: 0 10px 40px 0;
        display: block;
        width: 100%; }
        #faq-main #faq div.faq-colomn h2.question-1, #faq-main #faq div.faq-colomn p.response-1 {
          text-align: left; }
      #faq-main #faq div.faq-row-subtitle {
        padding: 5px 0 30px 0; } }
  @media (max-width: 768px) {
    #faq-main {
      top: 225px; } }
  @media (max-width: 596px) {
    #faq-main {
      top: 175px; }
      #faq-main #faq div.faq-colomn {
        padding-right: 0; } }

footer {
  background-color: #333;
  padding: 10px;
  font-family: adelle;
  font-size: 90%;
  color: white;
  text-align: center; }
